name: PR build and test

on:
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.14
          - 5.3
          - 5.4

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only --with-test
      - run: opam exec -- dune test --force

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: Dune unit test results for OCaml ${{ matrix.ocaml-compiler }}
          files: _build/default/lib/**/junit-*.xml

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.4

      - run: opam install . --deps-only --with-doc
      - run: opam exec -- dune build @doc

      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: odoc-html
          path: _build/default/_doc/_html/
